<div *ngIf="openerUrl" class="bg-warning-subtle border border-black text-center">Notice: This page is sending changes back to the page that opened it, <span class="text-primary">{{openerUrl}}</span></div>
<div class="page-defaults container bg-white shadow">
    <lfb-header id="fixedTop" [isFirebaseEnabled]="false" (isHelpInfoNeed)="handleHelpInfo($event)" ></lfb-header>
    <div id="resizableMiddle">

      <nav class="navbar navbar-light bg-light ps-2" aria-label="Menu bar" *ngIf="guidingStep !== 'home' && !isHelpInfoDisplay">
        <div class="btn-group-sm me-2" role="group" aria-label="Edit form attributes">
          <button type="button" class="btn btn-outline-primary" *ngIf="guidingStep !== 'list'"
                  (click)="setStep('fl-editor')" [attr.disabled]="guidingStep === 'fl-editor' ? '' : null">Edit form attributes</button>
        </div>
        <div class="btn-group-sm me-2" role="group" aria-label="Publish" *ngIf="guidingStep !== 'list' && !!formValue?.title">
          <button type="button" class="btn btn-outline-primary" [disabled]="!isApprover || (formValue?.status === 'active' || formItem?.status === StatusEnum.Active)"
                  (click)="publish()">Publish</button>
        </div>
        <div class="btn-group-sm me-2 ms-auto" role="group" aria-label="Save as Draft" *ngIf="guidingStep !== 'list' && !!formValue?.title">
          <button type="button" class="btn btn-outline-primary" [disabled]="!isBuilder"
                  (click)="save()">Save as Draft</button>
        </div>
        <div class="btn-group-sm me-2" role="group" aria-label="Preview" *ngIf="guidingStep !== 'list'" [ngClass]="{'ms-auto': !formValue?.title}">
          <button type="button" class="btn btn-outline-primary"
                  (click)="showPreviewDlg()">Preview</button>
        </div>
        <div class="btn-group-sm me-2" role="group" aria-label="Close editor">
          <button type="button" class="btn btn-outline-primary " (click)="close(guidingStep)">Close</button>
        </div>
      </nav>
      <a target="_self" id="exportAnchor" class="d-none">Export</a>
      <input #fileInput class="d-none" type="file" (change)="onFileSelected($event)" (click)="fileInput.value = null;">
      <div class="card bg-danger-subtle m-auto w-75" *ngIf="lformsErrorMessage">
        <div class="card-header d-flex justify-content-center"><h6 class="card-title">Error</h6></div>
        <div class="card-body">{{lformsErrorMessage}}</div>
      </div>
      <lfb-spinner [show]="spinner$ | async"></lfb-spinner>
      <ng-container *ngIf="guidingStep === 'home' && !isHelpInfoDisplay">
        <ng-container *ngTemplateOutlet="home"></ng-container>
      </ng-container>
      <ng-container *ngIf="guidingStep === 'list' && !isHelpInfoDisplay">
        <ng-container *ngTemplateOutlet="list"></ng-container>
      </ng-container>
      <ng-container *ngIf="guidingStep === 'fl-editor' && !isHelpInfoDisplay">
        <ng-container *ngTemplateOutlet="formLevelFields"></ng-container>
      </ng-container>
      <ng-container *ngIf="guidingStep === 'item-editor' && !isHelpInfoDisplay">
        <ng-container *ngTemplateOutlet="itemLevelFields"></ng-container>
      </ng-container>
      <ng-container *ngIf="isHelpInfoDisplay">
        <ng-container *ngTemplateOutlet="help"></ng-container>
      </ng-container>
    </div>
    <lfb-footer id="fixedBottom"></lfb-footer>
</div>

<ng-template #home>
  <div class="card border-0 container">
    <div class="card-body">
      <p class="lead" id="starting_header">How do you want to create your form?</p>
      <ul class="list-unstyled ms-5" role="radiogroup" aria-labelledby="starting_header">
        <li *ngIf="isAutoSaved() && !isDefaultForm()">
          <label class="btn">
            <input type="radio" name="startOption" value="from_autosave" class="form-check-input"
                   [(ngModel)]="startOption" [ngModelOptions]="{standalone: true}">
            Would you like to start from where you left off before?
          </label>
        </li>
        <li *ngIf="isBuilder">
          <label class="btn">
            <input type="radio" name="startOption" value="scratch" class="form-check-input"
                   [(ngModel)]="startOption" [ngModelOptions]="{standalone: true}">
            Start from scratch
          </label>
        </li>
        <li>
          <label class="btn" id="start_option_existing_label">
            <input type="radio" name="startOption" value="existing" class="form-check-input"
                   [(ngModel)]="startOption" [ngModelOptions]="{standalone: true}">
            Start with existing form
          </label>
          <ul *ngIf="startOption === 'existing'" class="list-unstyled ms-5" role="radiogroup" aria-labelledby="start_option_existing_label">
            <li>
              <label class="btn">
                <input type="radio" name="importOption" value="local" class="form-check-input"
                       [(ngModel)]="importOption" [ngModelOptions]="{standalone: true}">
                Import from local file
              </label>
            </li>
            <li>
              <label class="btn">
                <input type="radio" name="importOption" value="server" class="form-check-input"
                       [(ngModel)]="importOption" [ngModelOptions]="{standalone: true}">
                Form list
              </label>
            </li>
          </ul>
        </li>
      </ul>
      <hr>
      <div class="btn-toolbar float-end mb-2" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="Last group">
          <button type="button" class="btn btn-sm btn-primary" (click)="onContinue()">Continue</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #help>
  <lfb-help-info></lfb-help-info>
</ng-template>
<ng-template #list>
  <lfb-form-list
    [roles]="roles"
    (downloaded)="loadQuestionnaire($event)"
  ></lfb-form-list>
</ng-template>

<ng-template #formLevelFields>
  <lfb-form-fields (state)="setStep($event)"
                   [questionnaire]="formFields"
                   (questionnaireChange)="formFieldsChanged($event)"
                   [questionsButtonLabel]="createButtonLabel()"
  ></lfb-form-fields>
</ng-template>

<ng-template #itemLevelFields>
  <button type="button"
          class="ms-2 fw-bold btn btn-link"
          (click)="setStep('fl-editor')"
          [class.attention]="!questionnaire?.title"
          [attr.aria-label]="titleAriaLabel"
  >{{getQuestionnaireTitle()}}</button>
  <lfb-item-component [questionnaire]="questionnaire"
                      (itemChange)="itemComponentChanged($event)"
  ></lfb-item-component>
</ng-template>
<ng-template #loincSearchDlg let-modal>
  <div class="modal-header btn-primary">
    <h4 class="modal-title" id="loinc-search-dlg-title">Import a LOINC Form</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss()">
    </button>
  </div>
  <div class="modal-body">
    <form class="px-4 py-3">
      <label for="loincSearch"><span class="p-1">Search LOINC form:</span></label>
      <input type="text"
             id="loincSearch"
             placeholder="Search LOINC forms"
             [ngbTypeahead]="acSearch"
             (selectItem)="modal.close($event.item.id)"
             [resultFormatter]="formatter"
             [inputFormatter]="formatter"
             [editable]='false' />
    </form>
  </div>
</ng-template>

<ng-template #warnFormLoading let-modal>
  <div role="dialog" aria-labelledby="warningDlgTitle" class="modal-header bg-primary">
    <h4 id="warningDlgTitle" class="modal-title text-white">Replace existing form?</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss()">
    </button>
  </div>
  <div class="modal-body">
    This will overwrite the content currently in the form builder. If you wish to save the form currently in the form builder, select Cancel. Otherwise, select Continue to overwrite the current form.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close(true)">Continue</button>
    <button type="button" class="btn btn-primary" (click)="modal.dismiss()">Cancel</button>
  </div>
</ng-template>
<lfb-toaster></lfb-toaster>
<ng-template #confirmCancel let-modal>
  <div role="alertdialog" aria-labelledby="cancelDlgTitle" class="modal-header bg-primary">
    <h4 id="cancelDlgTitle" class="modal-title text-white">Confirm cancel</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss()">
    </button>
  </div>
  <div class="modal-body">
    This closes this window without saving your changes. If you are sure, please select Yes. Otherwise, select No to continue the session.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close(true)">Yes</button>
    <button type="button" class="btn btn-primary" (click)="modal.dismiss()">No</button>
  </div>
</ng-template>
